
/* FAQS */
.panel-forms-faqs form{
    flex-direction: column;
}
.main-forms .panel-forms-faqs{
    /* height: 260px; */
}
.main-forms .panel-forms-faqs form{
    display:flex;
    justify-content: center;
    padding:0px 30px;
}
.main-forms .panel-forms-faqs input{
    width: 100%;
    
    background-color: #eeeeee;
    border:none;
    border-bottom: 1px solid #393e46;
    margin-top:30px;
}
.main-forms .panel-forms-faqs form button{
    background-color: #32e0c4;
    border:none;
    margin-top:30px;
    padding: 10px 0px;
    border-radius: 5px;
}
.panel-forms-faqs{
    /* border:1px solid black; */
    margin:25px;
    margin-top:10%;
    width:700px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    
}
.panel-forms-faqs p{
    margin-bottom:5px;
    margin-top:15px;
    font-size: 11pt;
}
.panel-forms-faqs form p{
    font-size: 8pt;
    color:#838486;
}
.green-font{
    color:#32e0c4;
}



/* COLLAPSIBLE */
.faqs-collapsible{
    display:flex;
    flex-direction: column;
    margin:15px;
}
.collapsible {
    background-color: #393e46;
    border-radius:5px 5px 0px 0x;
    color: white;
    cursor: pointer;
    padding: 15px;
    /* width: 80%; */
    border: 3px solid #eeeeee;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin:0px;
  }
  
  .active, .collapsible:hover {
    background-color: #222831;
  }
  .content-collapsible {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #eeeeee;
  }
  .content-collapsible p {
    margin:0px;
  }