

/* MOBILE */
/* .menu-hamburger{
    
} */
.mobile-menu{
    /* display:flex; */
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* top:80px; */
    position:fixed;
    top:80px;
    right:0px;
    background-color:#393e46 ;
    width: 110px;
    /* animation-name: dropdownMenu;
    animation-duration:1s; */
    /* display:none; */
    transition: 0.3s ease-out;
    transform: translateX(110px);
}
.mobile-menu.active{
    transform: translateX(0px);
}
.mobile-menu p{
    padding:5px 20px;
    
    
}
.mobile-menu hr{
    margin:0px
}
 /* @keyframes dropdownMenu{
     from {right:-110px}
     to{right: 0px;}
 } */


.mobile-filters{
    display:inline-block;
    background-color: #393e46;
    height: 60px;
    display:none;    
    /* position: fixed; */
    /* position: -webkit-sticky; */
    position: fixed;
    bottom: 0;
    width: 100%;
   

}
.mobile-filters p{
    margin:20px;
    color:#32e0c4;
}
.mobile-filters i{
    color:#32e0c4;
}

.mobile-menu-filter{
    width:50%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    border-right: solid 1px black;
}
.mobile-menu-profile{
    width:50%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.mobile-menu-go-back{
    display:none;
    /* color:; */
}

@media only screen and (max-width: 650px) {
    .details-field input{
        font-size: 10pt !important;
    }
    .details-container{
        width:100%;
        margin-bottom:60px;
    }
    .mobile-menu-go-back{
        display:flex;
        padding:20px;
        margin-top:0px;
        margin-bottom:0px;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
    }
    .mobile-menu-go-back i{
        margin-right: 15px;
        font-size: 25pt;
    }


    .cc-title{
        margin-top:0px;
    }
    .img-card-container{
        width: 100px;
        min-width: 100px;
    }
    .cc-main-sub-capital-inicial{display: none;}
    
    .filter-container{
        display:none;
        width: 100%;
        max-width: 650px;
        /* height: 1000px; */
    }
    .mobile-filters{
        display:flex;
        /* height: 200px; */
    }
    .cc-info{display:none;}
    
    
}

@media(max-width:940px){
    html,body{
        font-size: 10pt;
    }
    .cards-container{
        padding:0px;
        padding-bottom:60px;
    }
    .tag-short{
        padding:5px;
        min-width: 0px;
    }
    .tag-long{
        min-width: 90px;
        padding: 5px;
    }
    .cc-info{display:none;}
    .details-container {
        display:none;
    }
    .menu p{
        display:none;
    }
    nav .menu-hamburger{
        display: block;
        color:white;
    }
    nav .menu-hamburger i{
        font-size: 20pt;
        margin:0px 10px;
        margin-right: 20px;
    }
    nav .logo{
        display:none;
    }
    nav .logo-small{
        display: flex;
        height: 100%;
        align-items: center;
    }
    nav .logo-small img{
        height: 60%;
    }
}
@media(max-width:1660px){
    .card-right{
        display:none;
    }
}

@media(max-width:400px){
    .cards-container{
        min-width: 100%;
    }
    .cc-main{
        padding: 10px;
        
        /* padding:0px 20px; //EN STYLES.CSS SIN MEDIA QUERY EDICION DANI */
    }
    .card-central{
        min-width: 0px;
    }
}