
html,
body {
    /* height: 100%;  */
    /* width: 100vw; */

    margin: 0;
    padding:0;
    font-family: Verdana,Alef;
    background-color: #eeeeee;
}

.page {
  display: flex;
  flex-flow: column;
  /* height: 100%; */
  /* width: 100%; */
}
.font-red{
    color:#e26767;
}
.font-green{
    color:#32e0c4;
}
.font-blue{
    color:#9cb5e4;
}
.white-card-background{
    background-color: #dbdadaad;
}

.white-card-tag{
    background-color:none;
    padding:10px;
    margin:5px;
    border-radius: 5px;
    /* font-weight: bold; */
}
.tag{
    background-color:#393e46;
    padding:10px;
    margin:5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.tag-short{
    min-width: 40px;
    
}
.tag-long{
    min-width: 100px;
}
/* .page .row {border: 1px dotted grey;} */
/* .box .row.header {flex: 0 1 auto;} */
.page .row.content {
    flex: 1 1 auto;
    background-color: orange;
    margin-top:80px;
}
/* .box .row.footer {flex: 0 1 40px;} */
/* .footer{
    width: 100%;
    position:fixed;
} */
a{
    color:white;
    text-decoration: none;
    height: 100%;
    display:flex;
    align-items: center;
}
a:hover{
    background-color: #222831;
}
.logo a:hover{
    background-color: #393e46;
}


/* NAVBAR */
nav{
    background-color:#393e46;
    display:flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
}
nav .search-bar{
    width:40%;
    background-color: #eeeeee;
    border:1 solid black;
    border-radius: 10px;
    padding:0px 8px;
    margin:0px 10px;
}
nav .search-bar input{
    width: 80%;
    height: 30px;
    border: none;
    background-color: #eeeeee;
}
nav .search-bar i{
   color:rgb(141, 141, 141);
   margin-top:10px;
}
nav .menu{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 14pt;
    margin:0px 10px;
    height: 100%;
    /* font-weight: bold; */
    
    
}
nav .menu p{
    margin: 0px 20px;
    color:white;
}
nav img {
    height: 70px;
    /* width: 30%; */
    /* margin-left:40px; */
    /* margin-right: 20px; */
    margin:0px 10px;
    margin-left: 20px;
}
nav .logo-small{
display:none;
}
nav .menu-hamburger{
    display:none;
}

/* MAIN SECTION */
.main{
    background-color: #eeeeee;
    display:flex;
    height: 100%;

}

/*CARDS*/
.card{
    /* border:1px solid black; */
    display:flex;
}
.cards-container{
    background-color: #eeeeee;
    flex: 1 1 auto;
    min-width: 100px;
    /* min-width: 400px;   eDICION DANI */
    padding-top:25px;
}
.card.panel{
    /* height: 200px; */
}

.img-card-container{
    width: 200px;
    /* height: 200px; */
    min-width: 200px;
    /* max-height:200px; */
    /* min-height: 100%; */
}
.img-card-container img{
    height: 100%;
    width:100%;
    object-fit:cover;
    /* min-height: 100%; */
}

.card-central{
    display:flex;
    flex-direction: column;
    background-color: #dbdadaad;
    width: 100%;
}
.cc-main{
    /* display:flex;
    flex-direction: row;
    align-items: center; */
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
    padding:0px 20px;
    /* padding:0px 20px; EDICION DANI */
    margin-top: 10px;
}
.cc-main-sub{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}
.top-card-tag{

    margin-right:20px;
}
.top-tag-label-rentabilidad{
    max-width: 100px;
}
.top-tag-label-capital-inicial{
    max-width: 60px;
}
.top-tag-label-precio-inmueble{
    max-width: 80px;
}
.cc-main-aportacion{
    /* background-color:#393e46;
    padding:10px;
    margin:5px;
    border-radius: 5px;
    font-weight: bold; */
    /* margin-left:20px; */
    /* margin-top:20px; */
}
.cc-details{
    margin:7px 0px;
    
}
.cc-details-icons {
    
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    
}
.cc-details-icons i{
    margin-left:20px;
    margin-right: 5px;
    color: #393e46;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    
}
.cc-title{
    font-weight: bold;
    margin:10px 20px;
}
.cc-info{
    font-size:10pt;
    color:grey;
    margin:0px 20px;
    margin-bottom:20px;
}

.card-right{
    display:flex;
    flex-direction: column;
    min-width: 200px;
    background-color: #dbdadaad;
    align-items: center;
    justify-content: center;
    
}

.card-right b{
    margin-bottom:5px;
}
.cr-container{
    display:flex;
    flex-direction: row;
}

/* .cr-amounts {
    background-color: #393e46;
    margin:0px; 
    padding:10px;
    margin:5px;
    border-radius: 5px;
    font-weight: bold;
    margin-right:20px;
} */



/* DETAILS */
.details-container{
    background-color: #eeeeee;
    width:40%;
    /* max-width:250px; */
    min-width:150px;
    display:flex;
    flex-direction: column;
    text-align: center;
    
    padding-top:25px;
}



.details-error-msg{
    margin: 15px;
    font-size: 10pt;
    /* width: 80%; */
    
}
.details-title{
    margin:0px 15px 15px 15px;
}
.details-section{
    margin:0px 15px 15px 15px;
}
.details-fields{
    display:flex;
    padding:0px 10px;
    justify-content: space-between;
    /* height: 40px; */
    /* align-items: center; */
}
.details-fields>p{
    margin:5px !important;
}
.button-option{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.button-option button{
    width: 105%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: space-between;
    font-size: 12pt;
    padding:8px 10px;
    border-radius: 30px;
    margin:5px;
    margin-left:-10px;
    color:rgb(173, 173, 173);
    background-color: lightgray;
    border:none;
}
.button-option input{
    background-color: transparent;
    border:none;
    border-bottom: 2px solid rgb(173, 173, 173);

}
#perfil .button-option button{
    margin:7px 0px;
    width: 100%}

.button-option>.active{
    background-color: #32e0c4;
    color: #222831;
}
.button-option>.active>input{
    border-bottom:1px solid  #222831;
}
 .button-option>button :not(.active) :hover{
    border:2px solid greenyellow;

}
.details-fields>button>.small-input{
    width: 50px;
}
.details-fields>button>.big-input{
    width:100px;
}
.details-fields>.small-input{
    background-color: transparent;
    border:none;
    border-bottom:1px solid  #222831;
    width: 60px;
    font-size: 12pt;
    font-weight: bold;
    font-family: Verdana,Alef;
    text-align: center;
}


/* FILTER */
.panel{
    /* border:1px solid black; */
    margin:25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.22);
-moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.22);
box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.22);
    /* max-height: 200px; */
}
.panel.card:hover{
    background-color: #cac6c6 ;
}
.panel p{
    margin-bottom:5px;
    margin-top:15px;
}
.active-card{
    background-color: #a8a7a7 ;
}
.input-buttons{
    display:flex;
}
.input-buttons button{
    width:50%;
    border-radius: 20px;
    height: 45px;
    margin-top:20px;
    background-color: #393e46;
    color:white;
    border: 5px solid #eeeeee;
}
.input-buttons-small button{
    width:20%;
    height:30px ;
    border:none;
    margin-left:10px;
}
.titulo-apartado{
    background-color: #393e46;
    text-align: center;
    padding:10px;
    color:white;
    border-radius: 5px 5px 0px 0px;
}

.filter-container{
    background-color: #eeeeee;
    width:20%;
    max-width:250px;
    min-width:200px;
    justify-content: center;
}
.filter-container p{
   text-align: center;
}
.filter-container .filter-apply-changes button{
    text-align: center;
    width:100%;
    padding:10px 0px;
    border-radius: 0px 0px 5px 5px;
    border:none;
    background-color: #32e0c4;
 }
 .filter-apply-changes>button:hover{
    background-color: #9ef8e9;
    cursor: pointer;
 }
 .filter-container .panel{
     min-width: 120px;
 }

.filter-inputs{
    display:flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filter-inputs input{
    width: 80%;
    border:none;
    border-bottom: 1px solid #393e46;
    height: 30px;
    background-color: #eeeeee;
    text-align: center;
}
.filter-inputs select{
    background-color: #eeeeee;
    border:none;
    border-bottom:  1px solid #393e46;
    padding:5px;
    width: 70%;
    margin-bottom: 15px;
    
}   
.filter-inputs i{
    color:#393e46;
    top:0px;
    margin-left:5px;
    
}

.display-rentabilidad-minima{
    height: 300px;
}
.slider-wrapper{
    display: flex;
    justify-content: center;
    width: 60%;
}
.slider-wrapper>input{
    padding:0px;
}
::-webkit-input-placeholder {
    text-align: center;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus, textarea:focus, select:focus,button:focus{
    outline: none;
}
#birth-date{
    width: 85%;
    background-color: #eeeeee;
    border:none;
    font-family: Alef;
    text-align: center;
    border-bottom: 1px  solid #393e46;
}
/* SLIDER FILTER */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    padding:5px;
    border:none;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    color: transparent;
}

  /* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* border: 1px solid #000000; */
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background: #32e0c4;
    cursor: pointer;
    margin-top:-6px;
    /* margin-top: -14px; You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  */
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    background: #393e46;
    border-radius: 1.3px;
    /* border: 0.2px solid #010101; */
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #393e46;
}









/* @media only screen and (max-width: 900px, min-width: 600px) {
    .profile-container {
        display:none;
    }
  } */

  .message-container{
    width: 100%;
    margin-bottom:30px;
    /* max-width: 800px; */
}

.message-container p{
    /* background-color: var(--red-color); */
    /* padding: 20px; */
    /* margin: 10px 0; */
    font-size: 8pt;
    color: red;
    
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px #feb1b1; */
}

.message-container p.correct-message {
    /* background-color: rgb(47, 164, 93); */
    /* box-shadow: 0 0 10px #dbf1c1; */
    color: #32e0c4;
     
}
.message-container p.error-message {
    /* background-color: rgb(47, 164, 93); */
    /* box-shadow: 0 0 10px #dbf1c1; */
    color: #e26767;
     
}






/* PAGINATION */
.pagination{
    display: flex;
	flex-direction: row;
	/* flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-end; */
    margin-left:25px;
}
.pagination a{
    background-color: #393e46;
    border-left:1px solid #eeeeee;
}
.pagination a:hover{
    background-color: #b9b7b7;
}
.pagination p{
    margin:0px;
    height: 35px;
    width: 35px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.pagination>.active-page{
    background-color: #32e0c4;
    color: #393e46;
}

/* #filter-container{
    position:absolute;
    z-index: 1;
} */