
html,
body {
    height: 100%; 
    margin: 0;
    padding:0;
    font-family: Verdana,Alef;
    background-color: #eeeeee;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* .page .row {border: 1px dotted grey;} */
/* .box .row.header {flex: 0 1 auto;} */
.page .row.content {
    flex: 1 1 auto;
    background-color: orange;
    margin-top:80px;
}
/* .box .row.footer {flex: 0 1 40px;} */
a{
    color:white;
    text-decoration: none;
    height: 100%;
    display:flex;
    align-items: center;
}
a:hover{
    background-color: #222831;
}
.logo a:hover{
    background-color: #393e46;
}


/* NAVBAR */
nav{
    background-color:#393e46;
    display:flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
}
nav .search-bar{
    width:40%;
    background-color: #eeeeee;
    border:1 solid black;
    border-radius: 10px;
    padding:0px 8px;
    margin:0px 10px;
}
nav .search-bar input{
    width: 80%;
    height: 30px;
    border: none;
    background-color: #eeeeee;
}
nav .search-bar i{
   color:rgb(141, 141, 141);
   margin-top:10px;
}
nav .menu{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 14pt;
    margin:0px 10px;
    height: 100%;
    /* font-weight: bold; */
    
    
}
nav .menu p{
    margin: 0px 20px;
    color:white;
}
nav img {
    height: 70px;
    /* width: 30%; */
    /* margin-left:40px; */
    /* margin-right: 20px; */
    margin:0px 10px;
    margin-left: 20px;
}
nav .logo-small{
display:none;
}
nav .menu-hamburger{
    display:none;
}

/* MAIN SECTION */
.main{
    background-color: #eeeeee;
    display:flex;
    height: 100%;

}

/*CARDS*/
.cards-container{
    background-color: #eeeeee;
    flex: 1 1 auto;
}
.card{

}

/* PROFILE */
.profile-container{
    background-color: #eeeeee;
    width:20%;
    max-width:250px;
    min-width:150px;
}

.profile-container{
    text-align: center;
}


/* FILTER */
.panel{
    /* border:1px solid black; */
    margin:25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    
}
.panel p{
    margin-bottom:5px;
    margin-top:15px;
}
.input-buttons{
    display:flex;
}
.input-buttons button{
    width:50%;
    border-radius: 20px;
    height: 45px;
    margin-top:20px;
    background-color: #393e46;
    color:white;
    border: 5px solid #eeeeee;
}
.input-buttons-small button{
    width:20%;
    height:30px ;
    border:none;
    margin-left:10px;
}
.titulo-apartado{
    background-color: #393e46;
    text-align: center;
    padding:10px;
    color:white;
    border-radius: 5px 5px 0px 0px;
}

.filter-container{
    background-color: #eeeeee;
    width:20%;
    max-width:250px;
    min-width:200px;
    justify-content: center;
}
.filter-container p{
   text-align: center;
}
.filter-container .filter-apply-changes button{
    text-align: center;
    width:100%;
    padding:10px 0px;
    border-radius: 0px 0px 5px 5px;
    border:none;
    background-color: #32e0c4;
 }
 .filter-container .panel{
     min-width: 120px;
 }

.filter-inputs{
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filter-inputs input{
    width: 80%;
    border:none;
    border-bottom: 1px solid #393e46;
    height: 30px;
    background-color: #eeeeee;
    text-align: center;
}
.display-rentabilidad-minima{
    height: 300px;
}
.slider-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.slider-wrapper input{
    
}
::-webkit-input-placeholder {
    text-align: center;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus, textarea:focus, select:focus,button:focus{
    outline: none;
}
#birth-date{
    width: 85%;
    background-color: #eeeeee;
    border:none;
    font-family: Alef;
    text-align: center;
    border-bottom: 1px  solid #393e46;
}
/* SLIDER FILTER */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    padding:15px;
    border:none;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    color: transparent;
}

  /* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* border: 1px solid #000000; */
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background: #32e0c4;
    cursor: pointer;
    margin-top:-6px;
    /* margin-top: -14px; You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  */
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    background: #393e46;
    border-radius: 1.3px;
    /* border: 0.2px solid #010101; */
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #393e46;
}

/* REGISTER */
.panel-forms form{
    flex-direction: column;
}
.main-forms{
    background-color: #eeeeee;
    display:flex;
    height: 100%;
    justify-content: center;
    /* padding-top:30px; */
}
.main-forms .panel-forms{
    height: 320px;
}
.main-forms .panel-forms form{
    display:flex;
    justify-content: center;
    padding:0px 30px;
}
.main-forms .panel-forms input{
    width: 100%;
    
    background-color: #eeeeee;
    border:none;
    border-bottom: 1px solid #393e46;
    margin-top:30px;
}
.main-forms .panel-forms form button{
    background-color: #32e0c4;
    border:none;
    margin-top:30px;
    padding: 10px 0px;
    border-radius: 5px;
}
.panel-forms{
    /* border:1px solid black; */
    margin:25px;
    margin-top:10%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    width: 340px;
}
.panel-forms p{
    margin-bottom:5px;
    margin-top:15px;
}

/* LOGIN */
.panel-forms-login form{
    flex-direction: column;
}
.main-forms .panel-forms-login{
    height: 260px;
}
.main-forms .panel-forms-login form{
    display:flex;
    justify-content: center;
    padding:0px 30px;
}
.main-forms .panel-forms-login input{
    width: 100%;
    
    background-color: #eeeeee;
    border:none;
    border-bottom: 1px solid #393e46;
    margin-top:30px;
}
.main-forms .panel-forms-login form button{
    background-color: #32e0c4;
    border:none;
    margin-top:30px;
    padding: 10px 0px;
    border-radius: 5px;
}
.panel-forms-login{
    /* border:1px solid black; */
    margin:25px;
    margin-top:10%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    width: 340px;
}
.panel-forms-login p{
    margin-bottom:5px;
    margin-top:15px;
}
.panel-forms-login form p{
    font-size: 8pt;
    color:#838486;
}
form a:hover{
    background-color: #eeeeee;
}

/* FAQS */
.panel-forms-faqs form{
    flex-direction: column;
}
.main-forms .panel-forms-faqs{
    /* height: 260px; */
}
.main-forms .panel-forms-faqs form{
    display:flex;
    justify-content: center;
    padding:0px 30px;
}
.main-forms .panel-forms-faqs input{
    width: 100%;
    
    background-color: #eeeeee;
    border:none;
    border-bottom: 1px solid #393e46;
    margin-top:30px;
}
.main-forms .panel-forms-faqs form button{
    background-color: #32e0c4;
    border:none;
    margin-top:30px;
    padding: 10px 0px;
    border-radius: 5px;
}
.panel-forms-faqs{
    /* border:1px solid black; */
    margin:25px;
    margin-top:10%;
    width:700px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    
}
.panel-forms-faqs p{
    margin-bottom:5px;
    margin-top:15px;
}
.panel-forms-faqs form p{
    font-size: 8pt;
    color:#838486;
}
.green-font{
    color:#32e0c4;
}

/* COLLAPSIBLE */
.faqs-collapsible{
    display:flex;
    flex-direction: column;
    margin:15px;
}
.collapsible {
    background-color: #393e46;
    border-radius:5px 5px 0px 0x;
    color: white;
    cursor: pointer;
    padding: 15px;
    /* width: 80%; */
    border: 3px solid #eeeeee;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin:0px;
  }
  
  .active, .collapsible:hover {
    background-color: #222831;
  }
  
  .content-collapsible {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #eeeeee;
  }
  .content-collapsible p {
    margin:0px;
  }


/* MOBILE */
.mobile-filters{
    display:inline-block;
    background-color: #393e46;
    height: 60px;
    display:none;    
}
.mobile-filters p{
    margin:20px;
    color:#32e0c4;
}
.mobile-filters i{
    color:#32e0c4;
}

.mobile-menu-filter{
    width:50%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    border-right: solid 1px black;
}
.mobile-menu-profile{
    width:50%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


@media only screen and (max-width: 600px) {

    .profile-container {
        display:none;
    }
    .filter-container{
        display:none;
    }
    .mobile-filters{
        display:flex;
    }
    
    
  }

  @media(max-width:900px){
    .menu p{
        display:none;
    }
    nav .menu-hamburger{
        display: block;
        color:white;
        
        
    }
    nav .menu-hamburger i{
        font-size: 20pt;
        margin:0px 10px;
        margin-right: 20px;
    }
    nav .logo{
        display:none;
    }
    nav .logo-small{

        display: flex;
        height: 100%;
        align-items: center;
    }
    nav .logo-small img{
        height: 60%;
    }
  }


/* @media only screen and (max-width: 900px, min-width: 600px) {
    .profile-container {
        display:none;
    }
  } */